.App {
  display: grid;
  margin: 1rem;
  background-color: rgba(34, 27, 27, 0.144);
}

#home {
  margin: 1em;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#img{
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  padding: 1rem;

}

/* .user{
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow;
} */

/* .u{
  margin: 1em;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
} */

.u{
  display: inline-block;
  width: 20rem;
  height: 20rem;
  padding: 0.4rem;
  border: 0.2rem solid blue; 
  text-align: center;
  justify-content: center;   
}

.rented{
  margin: 1rem;
}

